$brand-orange: #F4702E;
$brand-orange-hover: #E26526;
$brand-orange-focus: #E26526;
$brand-orange-active: #E8611D;

$brand-light-blue: #3475BA;
$brand-light-blue-hover: #2A56A6;
$brand-light-blue-focus: #2A56A6;
$brand-light-blue-active: #0d47a1;

$brand-secondary-blue: #194F8C;
$brand-light-grey: #57595C;
$brand-blue: #224772;
$brand-dark-blue: #214772;
$brand-light-blue: #4780C2;
$brand-grey-blue: #18222B;
$error-color: #BB0707;
